body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.search-input {
  width: 60%;
  padding: 15px;
  margin: 20px 0;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.book-card p {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.book-card button {
  padding: 10px 20px;
  background-color: #2561b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.book-card button:hover {
  background-color: #2561b9;
}

button {
  padding: 10px 20px;
  background-color: #2561b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #2561b9;
}

.back-button {
  margin: auto;
  width: 34px;
  height: 34px;
  display: flex;
  padding: 0 !important;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
  background-color: #0056b3;
}
